body{
font-family:Arial,sans-serif;
background:#1e1e1e;
color:white;
margin:0;
padding:0;
}

header{
background:#41a2c3;
padding:20px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

main{
padding:20px;
text-align:center;
}

input,textarea{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:10px 20px;
background:yellow;
border:none;
cursor:pointer;
}

#contenedor-pokemon{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:20px;
}

.card{
background:#2e2e2e;
padding:20px;
border-radius:10px;
width:180px;
box-shadow:0 0 10px black;
}

.card img{
width:120px;
}
